/* RESET DOS ESTILOS PADRÕES DOS NAVEGADORES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* ESTILOS GLOBAIS */
h1 {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem 0;
}

/* ESTILAZÃO DO FORMULÁRIO */
#section-form {
  margin: 0 auto;
  width: 90%;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 1rem 0.5rem;
}

#section-form fieldset {
  border: none;
}

#section-form legend {
  margin-bottom: 0.2rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: seagreen;
}

#section-form p {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 0.5rem;
}

#section-form fieldset > div {
  display: flex;
  flex-direction: column;
}

#section-form fieldset label {
  color: seagreen;
  font-weight: bold;
  text-transform: uppercase;
}

#section-form fieldset input {
  font-size: 1rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
  border: none;
  background-color: #ccc;
}

#section-form fieldset input[type="submit"] {
  width: 100%;
  background-color: seagreen;
  color: #fff;
  cursor: pointer;
}

#section-form fieldset input[type="submit"]:hover {
  background-color: rgba(46, 139, 86, 0.897);
}

/* SECTION-TABLE */
#section-table {
  margin-bottom: 1.5rem;
}

/* FOOTER */
footer {
  width: 100%;
  background-color: var(--primary-color);
}

footer p {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}
